/*NAV BAR*/

.navbar-toggler-icon {
    font-size: .81rem;
  
    /*tamaño menu hamburguesa */
  }
  
  .navbar {
    background-color: #E3E0EE;
    font-family: "Lato", sans-serif;
    color: #111827;
    font-weight: 700;
    font-size: 1.25rem;
  }
  
  .dropdown-menu {
    background-color: #E3E0EE;
    font-family: "Lato", sans-serif;
    color: #111827;
  }
  
  .navbar-brand {
    margin-left: 1.25rem;
  }
  
  .nav-item dropdown {
    padding: .625rem;
  }
  
  .navbar-nav {
    margin: 0 auto;
    display: flex;
    gap: 1.25rem;
    align-items: center;
  }
  